*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}

.head{
    width: 100%;
    height:100vh;
    background-color: rgba(45, 46, 46, 0.075);
    background-image: url("../image/sobre.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .cabeca{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-content: baseline;
        vertical-align: middle;

        .logo{
            width: 20vh;
            margin-top: 15px;
            border: 2px solid black;
            border-radius: 100%;
            box-shadow: 3px 3px 0 rgb(34, 34, 34);
        }
        .menu{
            display: flex;
            justify-content: space-around;
            font-size: 3vh;
            margin: 5vh 1vh 0 1vh;
        }
        .menu a{
            color: whitesmoke;
            margin: 0 5px;
            padding: 0 5px;
            border: 1px solid rgb(34, 34, 34);
            border-radius: 5px;
            background-color: rgb(34, 34, 34);
        }
        .social img{
            margin-top: 15px;
            width: 10vh;
        }
    }
    .sobre{
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: auto;
        overflow-x: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 60%;
        background-color: rgba(164, 172, 172, 0.603);
        padding: 20px;
        border: 2px solid black;
        border-radius: 20px;
        font-size: 2.3vh;

        .img{
            display: block;
            width:100%;
            height: auto;
            padding:0 20px 10px 0;
            align-items: center;
            img{
                width: 100%;
                height: auto;
                vertical-align:center;
                border-radius: 10%;
                box-shadow: 2px 2px 0 black;
            }
        }
    }
}


